.slick-field, p-inputtext{
  border: 0 solid forestgreen;
  border-radius:0;
  border-bottom: 1px solid forestgreen;
}

.slick-field :focus, .slick-field :hover, .slick-field :active, textarea:focus, input:focus, .p-inputtext {
  outline-width: 0;
  border: 0 solid forestgreen;
  border-radius:0;
  border-bottom: 1px solid forestgreen;
}
